*{
    margin: 0;
    padding: 0;

}
.row{
    max-width: 800px;
    margin: auto;
    padding:0 12px
}

nav{
    background-color: #912338;
    height: 60px;    
    margin-bottom: 24px;
}


nav .row{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a, .account{    color: white;
    text-decoration: none;
    font-size: 18pt;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid grey;
}





.subtitle{
    margin-bottom: 24px;
}

.roomcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-bottom: 48px;
     background-color: #f0f0f0;
     padding: 18px;
}

.room{
    border: 1px solid grey;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
}

.roomtext{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}





.labcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-bottom: 48px;
          background-color: #f0f0f0;
                    padding: 18px;
}

.lab{
    border: 1px solid grey;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
}

.labtext{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}



.equipcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-bottom: 48px;
     background-color: #f0f0f0;
          padding: 18px;
}

.equip{
    border: 1px solid grey;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
 
}

.equiptext{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}




footer{
    background-color: #912338;
    height: 160px;


}

hr{
    margin-bottom: 48px;
}

footer{
    display: flex;
    justify-content: center;
 
    align-items: center;
}

footer a{
       color: white;
       font: 18px;
}